.DS_Store
20210901_hourly.csv
Daily_Precipitation.ipynb
GHCN - Daily Documentation.pdf
MTA_EDA_20210901.ipynb
MTA_EDA_corrrelation.ipynb
MTA_EDA_daily_correlation.ipynb
MTA_EDA_hourly.ipynb
MTA_Exercises_Amy_Kim.ipynb
NYC_precipitation_2021.csv
Project Proposal.md
Remote-Booth-Station.xls
daily_prcp_2021.csv
daily_prcp_2021/
get_mta.md
get_mta.py
hourly_20210831_20210901.csv
hourly_prcp_2021
mta-pair-1-solution.ipynb
mta-pair-2-exercise.ipynb
mta-pair-2-solution.ipynb
mta_data.db
out.csv
top_p_decreases.png
top_p_increases.png
ts_Field_Description.txt